body {
	padding-top: 140px;
	background: #debea1;
}


.main {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 0.5em;
	max-height: 450px;
	background: #AB562D;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
	justify-content: center;

}



.left-box {
	width: 90%;
	max-height: 300px;
	margin: 1em auto;
	display: flex;
	flex-direction: column;
	
}

.right-box {
	width: 80%;
	margin: 1em auto;
	
	display: flex;
	flex-direction: column;
	
}

.contact-box {
	width: 95%;
	margin-bottom: 0.5em;
	
	display: flex;
	align-items: center;
}

.small-box {
	width: 50%;
	margin: 0 auto;
}

.contact-box img {
	width: 35px;
	height: 35px;
	margin: 0 2em 0 1em;
	padding: 0.5em;
}

input {
	margin-bottom: 1em;
	width: 80%;
	height: 2em;
	/*border: none;
	border-bottom: 1px solid black;*/
}

.textarea {
	width: 80%;
	height: 10em;
	padding-top: 0;
	margin-bottom: 2em;
}

.btn {
	width: 100px;
	height: 2em;
	margin-top: 2em;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	transition: width 1s;
}

a {
	color: black;
	text-decoration: none;
}

.btn:hover {
	background: black;
	color: orange;
	cursor: pointer;
	width: 120px;
}

footer {
	display: block;
	text-align: center;
	padding: 0.5em 0;
	height: 50px;
	margin-top: -50px;
}

@media only screen and (min-width: 600px ) {
	body {
		padding-top: 170px;
	}
	.main {
		height: 500px;
	}
}
@media only screen and (min-width: 890px ) {
	.main {
		height: 300px;
	}
}
