* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: sans-serif;
}

.container {
	min-height: 100%;
	width: 100%;
}

.main {
	padding-bottom: 200px;
	overflow: auto;
	box-shadow: 5px 5px 5px 5px black;
}


.navbar {
	display: none;
}

.nav-toggle {
	display: none;
}

header {
	background: #AB562D;
	width: 100%;
	padding: 0 0.5em;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
}

.logo-box {
	width:30%;
	height: 100px;
}

.logo-box img {
	width: 100%;
	height: 100%;
}

.flagbox {
	width: 25px;
	height: 100%;
	margin-top: 5px;

}

.flagbox img {
	width: 100%;
	height: 100%;
	margin: 2.5px;
}

.flag:hover {
	width: 30px;
	margin-right: 5px;
}

.nav-toggle-container {
	width: 40%;
	padding-top: 50px;

}

.nav-toggle-label div {
	width: 2.5em;
	height: 5px;
	background-color: black;
	margin: 5px 1em;
}

.nav-toggle:checked ~ nav {
	display: block;

	
}

nav li {
	list-style: none;
	margin: 1em 0;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1em;
}

nav a:hover {
	cursor: pointer;
	color: darkorange;
	background-color: black;
	padding: 0.25em 0.5em;
	border-radius: 5px;
}

.active a {
	text-decoration: underline;
}

footer {
	background: #FF300E10;
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: -100px;
	clear: both;
	text-align: center;
	padding: 25px 0;
	
}





@media only screen and (min-width: 600px ) {
	body {
		padding-top: 140px;
	}

	.navbar {
		display: block;
	}

	.nav-toggle-label {
		display: none;
	}

	header {
		display: flex;
		justify-content: space-between;
	}

	.logo-box {
		width: 20%;
	}

	.logo {
		max-width: 205px;
	}

	.nav-toggle-container {
		width: 70%;
	}


	nav ul {
		width: 100%;
		max-width: 850px;
		display: flex;
		justify-content: space-between;
	}

	nav a {
		font-size: 1.25rem;
	}

	.active a {
		text-decoration: none;
	}
	.active {
		border-bottom: 2px solid black;
	}
	footer {
		padding: 0.5em 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		margin-top: -70px;
		padding-top: 10px;
		
	}


}












