body {
	padding-top: 170px;
}


.main {
	width: 80%;
	max-width: 700px;
	height: 100px;
	margin: 0 auto;
	padding: 1em;
	background: #ffeee6;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 600px ) {
	body {
		padding-top: 200px;
	}
}
